# /etc/udev/rules.d/70-persistent-net.rules
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="90:e2:ba:b3:bb:d4", NAME="eth20"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="90:e2:ba:b3:bb:d5", NAME="eth21"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:1b:21:a6:e5:3c", NAME="eth30"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:1b:21:a6:e5:3d", NAME="eth31"
